
<div style="color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;min-width:100%;padding:0;text-align:left;width:100%">
    <table style="border-collapse:collapse;border-spacing:0;color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;height:100%;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tbody>
        <tr style="padding:0;text-align:left;vertical-align:top">
            <td align="center" valign="top" style="border-collapse:collapse;color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-break:normal">
                <center style="width:100%">
                    <table style="background-color:#0079bf;border-collapse:collapse;border-spacing:0;color:#fff;padding:0;text-align:inherit;vertical-align:top;width:100%">
                        <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                            <td style="border-collapse:collapse;color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal">
                                <div style="display:block;margin:0 auto;max-width:580px;padding:12px 16px">
                                    <h1 style="text-align:center;color:white">Trash Rescue</h1>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table style="background-color:#f0f0f0;border-collapse:collapse;border-spacing:0;padding:0;text-align:inherit;vertical-align:top;width:100%">
                        <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                            <td style="border-collapse:collapse;color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:16px 0;text-align:left;vertical-align:top;word-break:normal">
                                <div style="display:block;margin:0 auto;max-width:580px;padding:12px 16px">
                                    <h6 style="color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:20px;font-weight:normal;line-height:1.3;margin:0;margin-bottom:12px;padding:0;text-align:left;word-break:normal">Hi {{username}} . Sepertinya anda lupa kata sandi anda</h6>
                                    <table width="100%" style="border-collapse:collapse;border-spacing:0;margin:12px 0;padding:0;text-align:left;vertical-align:top">
                                        <tbody>
                                        <tr style="padding:0;text-align:left;vertical-align:top">

                                            <td >
                                                Gunakan kata sandi ini untuk masuk halaman Trash Rescue, kata sandi ini hanya berlaku satu kali saja,<br>Password : <strong>{{tmppassword}}</strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:inherit;vertical-align:top;width:100%">
                        <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                            <td style="border-collapse:collapse;color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-break:normal">
                                <div style="display:block;margin:0 auto;max-width:580px;padding:12px 16px">
                                    <p style="color:#9b9b9b;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:center">
                                        <a href="http://arizalsaputro.net/" style="color:#9b9b9b;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://arizalsaputro.net/&amp;source=gmail&amp;ust=1467327827786000&amp;usg=AFQjCNFyFFzlIB_WODhVKQAm3scdma06pg">Gula Jawa.</a>
                                    </p>
                                    <!--<p style="color:#9b9b9b;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;margin-bottom:10px;padding:0;text-align:center">
                                        Get Resyslog for <a href="http://arizalsaputro.net/" style="color:#9b9b9b;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://arizalsaputro.net/&amp;source=gmail&amp;ust=1467327827786000&amp;usg=AFQjCNFnBVsmcxB4Ug-AENEN2AW-BJM43w">iPhone and iPad</a>, <a href="http://arizalsaputro.net/" style="color:#9b9b9b;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://arizalsaputro.net/&amp;source=gmail&amp;ust=1467327827786000&amp;usg=AFQjCNGOB3EBT44x_7JB29-UUdj3l4EeIA">Android</a>, and <a href="http://arizalsaputro.net/" style="color:#9b9b9b;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://arizalsaputro.net/&amp;source=gmail&amp;ust=1467327827786000&amp;usg=AFQjCNFpk_xZ9sCPP5mptWhWuPusKFpFGA">more</a>.
                                    </p>-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="yj6qo">
    </div>
    <div class="adL">
    </div>
</div>
