<div style="margin:0;padding:0;height:100%!important;width:100%!important">

    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-4018961504796733532bodyTable" style="margin:0;padding:0;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;min-height:100%;background:#ffffff;color:#444444;border-collapse:collapse!important;max-width:100%!important;height:100%!important;width:100%!important">
        <tbody><tr>
            <td align="center" valign="top">
                <table align="center" border="0" cellspacing="0" width="600" id="m_-4018961504796733532emailContainer" style="border-collapse:collapse!important;max-width:100%!important">
                    <tbody><tr>
                        <td align="center" valign="top">

                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-4018961504796733532templatePreheader" style="margin:15px 0 10px;border-collapse:collapse!important;max-width:100%!important">
                                <tbody><tr>
                                    <td>
                                        <table align="left" border="0" cellspacing="0" width="50%" style="border-collapse:collapse!important;max-width:100%!important">
                                            <tbody><tr>
                                                <td valign="top" class="m_-4018961504796733532preheaderContent" align="left" style="text-align:left!important;color:#808080;font-size:10px;line-height:125%">Optimize with #TrashRescue!</td>
                                            </tr>
                                            </tbody></table>

                                    </td>

                                </tr>
                                </tbody></table>

                        </td>
                    </tr>





                    <tr>
                        <td align="center" valign="top">
                            <table class="m_-4018961504796733532sectionWrap" border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#00c2e0;border-collapse:collapse!important;max-width:100%!important" id="m_-4018961504796733532content">
                                <tbody>
                                <tr>
                                    <td align="middle">
                                        <p style="margin:60px 50px 30px;font-size:28px;display:block;line-height:36px;color:#cbf8ff">{{username}} ,Selamat Datang<b style="color:#ffffff"> di<span class="il"> Trash</span> Rescue</b><br> Platform pengoptimal pengangkutan tempat sampah</p>


                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table id="m_-4018961504796733532button" border="0" cellpadding="0" cellspacing="0" class="m_-4018961504796733532emailButton" style="border-radius:6px;background-color:#0079bf;margin:10px auto 60px;border-collapse:collapse!important;max-width:100%!important" align="center">
                                            <tbody><tr>
                                                <td align="center" valign="middle" class="m_-4018961504796733532emailButtonContent" style="padding-top:15px;padding-right:30px;padding-bottom:15px;padding-left:30px">
                                                    <a href="http://arizalsaputro.net/" style="font-size:20px;font-weight:bold;text-decoration:none;color:#ffffff" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://arizalsaputro.net/">Buka <span class="il">TrashRescue</span> </a>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    <tr>

                    </tr>



                    </tbody></table>
            </td>
        </tr>
        </tbody></table>
</div>